<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="new-form">

	<header>
		<nav>
			<!-- <a href="/"><div class=nav-btn>Add Pic</div></a>	 -->
			<a href="/users"><div class=nav-btn> Back to Index</div></a>	
			<a href="/"><div class=nav-btn>Home</div></a>	
		</nav>
	</header>

	<h1>Create New User</h1>

	<form action="/users/<%= user.id %>?_method=PUT" method="POST">
		<div class="item">User Name: </div><input type="text" name="userName" value="<%= user.userName %>"> <br>
		<div class="item">Email: </div><input type="text" name="email" value="<%= user.email %>"> <br>
		<div class="item">Password: </div><input type="text" name="password" value="<%= user.password %>"> <br>
		<button type="submit">Submit Edits</button>
	</form>

</body>
</html>