<!DOCTYPE html>
<html>
<head>
	<title>User Index</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<nav>
			<a href="/"><div class=nav-btn>Add Pic</div></a>	
			<a href="/users/new"><div class=nav-btn>Add User</div></a>	
			<a href="/"><div class=nav-btn>Home</div></a>	
		</nav>
	</header>


	<h1>User Index</h1>

	<ul>
		<% for (let i = 0; i < users.length; i++) { -%>
			<li>
				<a href="/users/<%= users[i].id %>"><%= users[i].userName %></a>
			</li>
		<% } -%>



	</ul>

</body>
</html>