<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
</head>
<body>

	<header>
		<nav>
			<a href="/users">Back to User Index</a>
		</nav>
	</header>

	<h1>Create New User</h1>

	<form action="/users" method="POST">
		User Name:<input type="text" name="userName"> <br>
		email:<input type="text" name="email"> <br>
		<button type="submit">Create User</button>
	</form>

</body>
</html>