<!DOCTYPE html>
<html>
<head>
	<title><%= user.userName %></title>
</head>
<body>

	<header>
		<nav>
			<a href="/users">Back to Index</a>
		</nav>
	</header>

	<h1>User Name: <%= user.userName %></h1>

	<h2>Contact Info: <%= user.email%></h2>

</body>
</html>